[buildout]
extensions += mr.developer buildout.dumppickedversions
unzip = true
parts += 
      omelette test roadrunner

extends += 
      http://good-py.appspot.com/release/dexterity/1.0-next?plone=4.0.5

develop = 
# If you're not using mr.developer to manage develop eggs, list eggs here. Globs OK.
#    src/*

sources = sources
auto-checkout =
    example.conference

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
eggs = 
    Plone
    example.conference
# development tools
    plone.reload
    Products.PDBDebugMode
zcml =

[zope2]
recipe = plone.recipe.zope2install
url = ${versions:zope2-url}
fake-zope-eggs = true
additional-fake-eggs = zdaemon

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
packages = ${zope2:location}/lib/python ./

[roadrunner]
recipe = roadrunner:plone
packages-under-test =
    example.conference

[test]
recipe = zc.recipe.testrunner
eggs = 
    example.conference
extra-paths = ${zope2:location}/lib/python
defaults = ['--exit-with-status', '--auto-color', '--auto-progress']

[sources]
example.conference = git git://github.com/pigeonflight/example.conference.git
